@page "/deck"

@using SolarisRec.UI.Components.Dropdown
@using SolarisRec.UI.Provdiders
@using SolarisRec.UI.UIModels

<MudGrid id="Dropdowns">
    <MudItem>
        <MudMultiSelectDropdown @ref="factionDropdown" DropdownItems="FactionDropdownItems" Dense="true"
                                Label="Factions" @bind-SelectedValues="@SelectedFactions.Selected" />
    </MudItem>
    <MudItem>
        <MudMultiSelectDropdown @ref="cardTypeDropdown" DropdownItems="CardTypeDropdownItems" Dense="true"
                                Label="Card Type" @bind-SelectedValues="@SelectedCardTypes.Selected" />
    </MudItem>
    <MudItem>
        <MudMultiSelectDropdown @ref="crcDropdown" DropdownItems="ConvertedResourceCostDropdownItems" Dense="true"
                                Label="Converted Cost" @bind-SelectedValues="@SelectedConvertedResourceCosts.Selected" />
    </MudItem>
    <MudItem>
        <MudMultiSelectDropdown @ref="talentsDropdown" DropdownItems="TalentDropdownItems" Dense="true"
                                Label="Talents" @bind-SelectedValues="@SelectedTalents.Selected" />
    </MudItem>
    <MudItem>
        <MudMultiSelectDropdown @ref="keywordDropown" DropdownItems="KeywordDropdownItems" Dense="true"
                                Label="Keyword" @bind-SelectedValues="@SelectedKeywords.Selected" />
    </MudItem>
    <MudItem>
        <MudButton OnClick="ClearFilters">Clear Filters</MudButton>
    </MudItem>
</MudGrid>

<MudGrid>

    <MudItem id="CardSearch" xs="8">
        <MudTable Items="@Cards"
                  T="Card" OnRowClick="AddToDeck" RowClass="relative"
                  ServerData="@(new Func<TableState, Task<TableData<Card>>>(GetCardsFiltered))"
                  Hover="true" Breakpoint="Breakpoint.Sm" RightAlignSmall="true"
                  @ref="table">
            <ToolBarContent>
                <MudSpacer />
                <MudTextField T="string" ValueChanged="@(searchTerm => OnSearchByName(searchTerm))" Placeholder="Search by name"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium" Class="mt-0" Label="Search by name" @ref="searchByName"></MudTextField>
                <MudTextField T="string" ValueChanged="@(abilitySearchTerm => OnSearchByAbility(abilitySearchTerm))" Placeholder="Search by ability"
                              Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search"
                              IconSize="Size.Medium" Class="mt-0" Label="Search by ability" @ref="searchByAbility"></MudTextField>
            </ToolBarContent>
            <ColGroup>
                <col style="width: 50px;" />
                <col style="width: 50px;" />
                <col style="width: 50px;" />
                <col style="width: 30px;" />
                <col style="width: 30px;" />
                <col style="width: 10px;" />
                <col style="width: 10px;" />
                <col style="width: 490px;" />
            </ColGroup>
            <HeaderContent>

                <MudTh><MudTableSortLabel SortLabel="@nameof(Card.Name)" T="Card">Name</MudTableSortLabel></MudTh>
                <MudTh>Factions</MudTh>
                <MudTh>Type</MudTh>
                <MudTh><MudTableSortLabel SortLabel="@nameof(Card.Costs)" T="Card">Cost</MudTableSortLabel></MudTh>
                <MudTh>Talent</MudTh>
                <MudTh><MudTableSortLabel SortLabel="@nameof(Card.AttackValue)" T="Card">AV</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="@nameof(Card.HealthValue)" T="Card">HV</MudTableSortLabel></MudTh>
                <MudTh>Ability</MudTh>

            </HeaderContent>
            <RowTemplate>

                <MudTd DataLabel="Name">
                    <div @onmouseover="@(() => UpdateImageSrc(context))" class="absolute mud-width-full mud-height-full" style="top:0;left:0;"></div>
                    @context.Name
                </MudTd>
                <MudTd DataLabel="Factions">@context.Factions</MudTd>
                <MudTd DataLabel="CardType">@context.Type</MudTd>
                <MudTd DataLabel="Cost">
                    @for (int i = 0; i < @context.Costs.Count; i++)
                    {
                        for (int j = 0; j < @context.Costs[i].Quantity; j++)
                        {
                            <img src="@ResourceIconImageLinkProvider.Provide(@context.Costs[i])" width="30" height="30">
                        }
                    }
                </MudTd>
                <MudTd DataLabel="Talent">
                    @for (int i = 0; i < @context.Talents.Count; i++)
                    {
                        for (int j = 0; j < @context.Talents[i].Quantity; j++)
                        {
                            <img src="@TalentIconImageLinkProvider.Provide(@context.Talents[i])" width="30" height="30">
                        }
                    }
                </MudTd>
                <MudTd DataLabel="AttackValue">@context.AttackValue</MudTd>
                <MudTd DataLabel="HealthValue">@context.HealthValue</MudTd>
                <MudTd DataLabel="Ability">@context.Ability</MudTd>

            </RowTemplate>
            <PagerContent>
                <MudTablePager PageSizeOptions="@pageSizeOption" RowsPerPageString="Cards per page" />
            </PagerContent>
        </MudTable>
    </MudItem>

    <MudItem id="PictureAndCommands" xs="4" Spacing="0">
        <MudGrid>

            <MudItem xs="12" md="6">
                <img src="@(ImgSrc)" width=200 height=300>

                <MudIconButton Icon="@Icons.Material.Filled.Print" Color="Color.Inherit" OnClick="Export"></MudIconButton>

                <MudText>Missions (@MissionDeck.Select(d => d.Quantity).Sum())</MudText>
                <MudTable Items="@MissionDeck"
                          T="DeckItem"
                          OnRowClick="RemoveFromMissionDeck"
                          Hover="true"
                          Breakpoint="Breakpoint.Sm"
                          Dense="true"
                          @ref="missionDeck">
                    <ColGroup>
                        <col style="width: 10px;" />
                        <col style="width: 2000px; text-align:right" />                                              
                    </ColGroup>
                    <HeaderContent>
                        <MudContainer>
                            <MudTh></MudTh>
                            <MudTh>Name</MudTh>
                        </MudContainer>
                    </HeaderContent>
                    <RowTemplate>
                        <MudContainer @onmouseover="@(() => UpdateImageSrc(context))">
                            <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
                            <MudTd DataLabel="Name">@context.Card.Name</MudTd>
                        </MudContainer>
                    </RowTemplate>
                </MudTable>
            </MudItem>

            <MudItem xs="12" md="6">
                <MudText> Main deck (@mainDeckCardCount / @mainDeckAgentCount A)</MudText>
                <MudTable Items="@MainDeck"
                          T="DeckItem"
                          OnRowClick="RemoveFromDeck"
                          Hover="true"
                          Breakpoint="Breakpoint.Sm"
                          Dense="true"
                          @ref="mainDeck">
                          <ColGroup>
                        <col style="width: 10px;" />
                        <col style="width: 2000px; text-align:right" />                                              
                    </ColGroup>
                    <HeaderContent>
                        <MudContainer>
                            <MudTh></MudTh>
                            <MudTh Style="text-align:right">Name</MudTh>
                        </MudContainer>
                    </HeaderContent>
                    <RowTemplate>
                        <MudContainer @onmouseover="@(() => UpdateImageSrc(context))">
                            <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
                            <MudTd DataLabel="Name">@context.Card.Name</MudTd>
                        </MudContainer>
                    </RowTemplate>
                </MudTable>

                <MudText>Tactical Deck (@TacticalDeck.Select(d => d.Quantity).Sum())</MudText>
                <MudTable Items="@TacticalDeck"
                          T="DeckItem"
                          OnRowClick="RemoveFromSideboard"
                          Hover="true"
                          Breakpoint="Breakpoint.Sm"
                          Dense="true"
                          @ref="tacticalDeck">
                          <ColGroup>
                        <col style="width: 10px;" />
                        <col style="width: 2000px; text-align:right" />                                              
                    </ColGroup>
                    <HeaderContent>
                        <MudContainer>
                            <MudTh></MudTh>
                            <MudTh>Name</MudTh>
                        </MudContainer>
                    </HeaderContent>
                    <RowTemplate>
                        <MudContainer @onmouseover="@(() => UpdateImageSrc(context))">
                            <MudTd DataLabel="Quantity">@context.Quantity</MudTd>
                            <MudTd DataLabel="Name">@context.Card.Name</MudTd>
                        </MudContainer>
                    </RowTemplate>
                </MudTable>
            </MudItem>

        </MudGrid>
    </MudItem>

</MudGrid>